body{
    background-color: #c69d69;
    font-size: 1.5rem;
    line-height: 4rem;
    
}

/* se realiza configuraciones de  id  para  los colores  del  texto y 
subrayado*/

.container{
    
    display: flex;
   
    justify-content: center;
    align-items: center;
}
        
.div1{
    width: 60%;
   
   
    }
        
#versub{
    color: green;
    text-decoration: underline
}

#red{
    color: red;
    font-weight: bold;
}
#dobleraya{
    text-decoration: underline overline;
    
}

#font{
    font-size: 3rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#red2{
    color: red;
    font-weight: bold;
    font-size: 1.7rem;
    text-decoration: underline
}
#blue{
    color: blue;
    font-weight: bold;
    font-size: 1.7rem;
}
h1{
    text-align: center;
    font-size: 6rem;
}